.message-list {
  display: flex;
  flex-direction: column;
 
  gap: 10px; /* messages ke beech spacing */
  padding: 15px;
  height: calc(100vh - 120px); /* input box aur header ke liye jagah chhod ke */
  overflow-y: auto; /* scrolling enable */
  background-color: #f9f9f9;


  /* Scrollbar styling (optional) */
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
  }
}
